
html {
	background-color: #222;
	width: 100%;
}

body {
	border-left: solid 1px;
	border-right: solid 1px;
	padding: 4em 4em;
	margin: 0 auto;
	font-family: verdana, sans-serif;
	font-size: 10pt;
	margin-right: 3em;
	border-top: solid 5px #eee;

	background-color: white;
	background-image: url('bp.png');
	background-repeat: no-repeat;
	background-position: 90% 4em;

	margin: 0 auto;
	max-width: 1100px;
}

h1, h3, h2, h4 {
	font-family: trebuchet ms, sans-serif;
	font-weight: normal;
	clear: left;
}

h2 {
	margin-top: 2em;
}

.notok   { background-color: #e88; border: solid  1px #c22; color: #c11; }
.ok      { background-color: #8e8; border: solid  1px #2c2; color: #1c1; }
.some    { background-color: #ee8; border: solid  1px #cc2; color: #cc1; }
.missing { background-color: #fcc; border: dotted 1px #b22; color: #c11; }
.todo    { background-color: #cfc; border: dotted 1px #2b2; color: #1c1; }
.skip    { background-color: #cfc; border: dotted 1px #2b2; color: #1c1; }

.na {
	color: #bbb;
}

.rep {
	color: #aaa;
	float: right;
}

table.overview dl {
	margin-top: 2em;
}

table.overview ol li {
	list-style-type: none;
	display: inline-block;
}

table.overview ol {
	margin:  0;
	padding: 0;
}

table.overview ol.overview {
	padding-left: 0;
}

.test {
	display: inline-block;
	height: 1em;
	width:  1em;
	padding: 0.25em;
	margin:  0px;

	-webkit-border-radius: 1ex;
	-moz-border-radius: 1ex;
	border-radius: 1ex;
	border-width: 2px;
}

a.test.ok:before      { content: "\2713"; } /* fa: { content: "\f00c"; } */
a.test.notok:before   { content: "\2715"; } /* fa: { content: "\f00d"; } */
a.test.missing:before { content: "?";     }
a.test.todo:before    { content: "?";     }
a.test.skip:before    { content: "?";     }

a.test {
	white-space: nowrap;
	overflow: hidden;
}

a.test:before {
	padding: 0.25em;
	margin:  -0.25em;

	display: inline-block;

	height: inherit;
	width:  inherit;

	color: #fff;
	font-weight: bold;

	text-align: center;

	margin-right: 1em; /* to clear link text out of the icon box */
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table.details th.summary {
	text-align: center;
}

table.details th.summary:after {
	content: "\A0ok";
}

th,
td {
	border: solid 1px #ccc;
	padding: 0.25em 0.5em;
}

table.details td.status,
table.overview td.status {
	padding: 0.5em;
}

table.overview td.status {
	padding-left:  1em;
	padding-right: 1em;
}

table.details th,
table.overview td.status {
	border-width: 2px ! important;
	font-weight: bold;
	vertical-align: top;
}

table.details thead th.src {
	width: 100%;
}

table.details tr.text td {
	padding: 0;
}

table.details tr.text pre {
	padding: 0.25em 0.5em;
	background-color: #eee;
	margin: 0;
}

/*
table.details td.status {
	border-right: none;
}

table.details td.num {
	border-left: none;
}
*/

table.details thead th:first-child {
	text-align: center;
}

table.details thead th {
	text-align: left;
}

table.details td.num:before {
	content: "#";
}

/* stupid hack */
table.details tbody:after {
	content: "\A0";
	display: block;
	line-height: 2em;
	color: transparent;
}

table.details {
	margin-top: 2em;
}

